# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Docker files
.dockerignore
Dockerfile
docker-compose.yaml

# Virtual Environments
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# macOS
.DS_Store

# Generated reports
reports/

# API key storage
api_key.json

# Vercel
.vercel